@font-face {
    font-family: 'Bubble Jelly Shadow';
    src: url('fonts/BubbleJellyShadow.eot');
    src: url('fonts/BubbleJellyShadow.eot?#iefix') format('embedded-opentype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-style: normal;
    font-family: sans-serif;
    background-color: #1B5B6F;
    height: 300vh;
    overflow-x: hidden;
}

/* _______________________Navigation_______________________ */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: Bubble Jelly Shadow;
    background-color: white;
}

nav img {
    width: 150px;
    position: relative;
    left: -100px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    position: relative;
    right: -100px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #11B3C5;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-links li :hover{
    padding: 9px 18px;
    background-color: #FF5051;
    border-radius: 50px;
    color: white;
    transition: ease-in 0.2s;
}

.burger div {
    width: 32px;
    height: 5px;
    background-color: #11B3C5;
    margin: 4px;
    border-radius: 80px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
}

/* _______________________Navigation end_______________________ */

#hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
}

.title {
    font-family: Bubble Jelly Shadow;
    font-size: 80px;
    color: #11B3C5;
}

.intro {
    margin-top: 20px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    letter-spacing: 1px;
    width: 600px;
    font-size: 18px;
}


/* _____________________hero animation___________________ */

.container {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    overflow: hidden;
    border: solid white 15px;
}

.bg {
    width: 551px;
}

.shark1 {
    position: relative;
    top: -290px;
    left: -200px;
}

.shark2 {
    position: relative;
    top: -370px;
    left: 350px;
}

.fish1 {
    position: relative;
    top: -420px;
    left: 200px;
}

.fish2 {
    position: relative;
    top: -480px;
    left: -400px;
}

.fish3 {
    position: relative;
    top: -510px;
    left: 100px;
}

.fish4 {
    position: relative;
    top: -555px;
    left: -420px;
}

.bubbles{
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-around;
}

.bubbles img{
    position: relative;
    width: 20px;
    top: -110px;
    animation: bubble 7s infinite;
}

/* _____________________hero animation end___________________ */


/* _______________________button_______________________ */
.btn1 span{
    font-family: Bubble Jelly Shadow;
    position: relative;
    z-index: 1;
}

.btn1 {
    text-decoration: none;
    position: relative;
    display: inline-flex;
    padding: 15px 30px;
    color: white;
    border-radius: 50px;
    background: #11B3C5;
    letter-spacing: 1px;
    top: -15vh;
    left: 6%;
    text-transform: uppercase;
    overflow: hidden;
}

.btn1::before{
    content: '';
    position: absolute;
    top:var(--y);
    left:var(--x);
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #FF5051 12%;
    transition: width 0.5s, height 0.5s;
}

.btn1:hover::before{
    width: 300px;
    height: 300px;
}

/* _______________________button end_______________________ */

/* ______________________section 2____________________ */

#video-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

#video-preview {
    position: relative;
    text-decoration: none;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: url(../images/video-thumbnail.png);
    background-size: 850px;
    background-position-x: -50px;
    font-size: 60px;
    color: white;
    border: solid 15px white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ytvideo {
    display: none;
    z-index: 2;
}

.fa-play{
    position: relative;
    left: -5px;
    z-index: 1;
}

#video-preview::before{
    content: '';
    position: absolute;
    top:var(--y);
    left:var(--x);
    width: 0;
    height: 0;
    transform: transition(-50%, -50%);
    border-radius: 50%;
    background: rgb(255	,80	,81);
    transition: width 0.5s, height 0.5s;
}

#video-preview:hover::before{
    width: 120px;
    height: 120px;
}

.line4{
    transform: rotate(-45deg) translate(-2px, 4px);
}

.line5{
    transform: rotate(45deg) translate(-2px, -4px);
}

.content2 {
    position: relative;
}

.sub-title1 {
    font-family: Bubble Jelly Shadow;
    font-size: 50px;
    color: #11B3C5;
}

.intro2 {
    margin-top: 20px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    letter-spacing: 1px;
    width: 600px;
    font-size: 18px;
}

/* ______________________section 2 end____________________ */

/* ______________________Gallery______________________ */

.sub-title2{
    font-family: Bubble Jelly Shadow;
    font-size: 50px;
    color: #11B3C5;
    padding-top: 2rem;
    padding-bottom: 4rem;
    position: relative;
    text-align: center;
}

#img-gallery{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 90%;
    margin: 0 auto;
}

.box{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.img-container1{
    height: 300px;
    width: 300px;
    margin: 20px;
    background: url(/images/reef.jpg);
    background-size: 165%;
    background-position-x: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.img-container1 div{
    position: relative;
    width: 100%;
    top: 255px;
    color: white;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-family: Bubble Jelly Shadow;
    text-align: center;
}

.img-container2{
    height: 300px;
    width: 300px;
    margin: 20px;
    background: url(/images/tiger.jpg);
    background-size: 165%;
    background-position-x: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.img-container2 div{
    position: relative;
    width: 100%;
    top: 255px;
    color: white;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-family: Bubble Jelly Shadow;
    text-align: center;
}

.img-container3{
    height: 300px;
    width: 300px;
    margin: 20px;
    background: url(/images/bull.jpg);
    background-size: 165%;
    background-position-x: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.img-container3 div{
    position: relative;
    width: 100%;
    top: 255px;
    color: white;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-family: Bubble Jelly Shadow;
    text-align: center;
}

.img-container4{
    height: 300px;
    width: 300px;
    margin: 20px;
    background: url(/images/mako.jpg);
    background-size: 165%;
    background-position-x: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.img-container4 div{
    position: relative;
    width: 100%;
    top: 255px;
    color: white;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-family: Bubble Jelly Shadow;
    text-align: center;
}

.img-container5{
    height: 300px;
    width: 300px;
    margin: 20px;
    background: url(/images/greatwhite.jpg);
    background-size: 185%;
    background-position-x: 80%;
    border-radius: 20px;
    overflow: hidden;
}

.img-container5 div{
    position: relative;
    width: 100%;
    top: 255px;
    color: white;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-family: Bubble Jelly Shadow;
    text-align: center;
}

.img-container6{
    height: 300px;
    width: 300px;
    margin: 20px;
    background: url(/images/whale.jpg);
    background-size: 165%;
    background-position-x: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.img-container6 div{
    position: relative;
    width: 100%;
    top: 255px;
    color: white;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-family: Bubble Jelly Shadow;
    text-align: center;
}

.img-container7{
    height: 300px;
    width: 300px;
    margin: 20px;
    background: url(/images/angel.jpg);
    background-size: 165%;
    background-position-x: 40%;
    border-radius: 20px;
    overflow: hidden;
}

.img-container7 div{
    position: relative;
    width: 100%;
    top: 255px;
    color: white;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-family: Bubble Jelly Shadow;
    text-align: center;
}

.img-container8{
    height: 300px;
    width: 300px;
    margin: 20px;
    background: url(/images/basking.jpg);
    background-size: 180%;
    background-position-x: 70%;
    border-radius: 20px;
    overflow: hidden;
}

.img-container8 div{
    position: relative;
    width: 100%;
    top: 255px;
    color: white;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-family: Bubble Jelly Shadow;
    text-align: center;
}

.img-container9{
    height: 300px;
    width: 300px;
    margin: 20px;
    background: url(/images/hammerhead.jpg);
    background-size: 165%;
    background-position-x: 80%;
    border-radius: 20px;
    overflow: hidden;
}

.img-container9 div{
    position: relative;
    width: 100%;
    top: 255px;
    color: white;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-family: Bubble Jelly Shadow;
    text-align: center;
}

.box a{
    text-decoration: none;
}

.box a :hover {
    transform: scale(1.2);
    transition: ease-in-out 0.5s;
}

/* ______________________Gallery end______________________ */

/* ______________________About______________________ */

.bg2 {
    position: relative;
    right: 10%;
    width: 800px;
}

#about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.sub-title3 {
    font-family: Bubble Jelly Shadow;
    font-size: 80px;
    color: #11B3C5;
}

.about-us {
    margin-top: 20px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    letter-spacing: 1px;
    width: 600px;
    font-size: 18px;
}

/* ______________________About End______________________ */

/* __________________Desktop Queries_________________ */

@media screen and (max-width: 1024px) {
    nav img {
        width: 150px;
        position: relative;
        left: -50px;
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 40%;
        position: relative;
        right: -50px;
    }
}

/* __________________Mobile Queries_________________ */

@media screen and (max-width: 768px) {
    nav img {
        width: 150px;
        position: relative;
        left: -20px;
    }


    body{
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
        position: relative;
        right: -20px;
    }

    .nav-active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 7px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}

